<h1 mat-dialog-title>Simpan path</h1>
<div mat-dialog-content>
  <mat-form-field style="width: 100%;">
    <mat-label>Nama</mat-label>
    <input matInput [(ngModel)]="data.name" cdkFocusInitial>
  </mat-form-field>
  <p *ngIf="storageService.hasPath(data.name)">
    Path dengan nama ini sudah ada, tekan <i>Ganti</i> untuk menggantinya.
  </p>
  <p *ngIf="!storageService.hasPath(data.name)">
    Tekan <i>Simpan</i> untuk menyimpan path saat ini di browser Anda.
  </p>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="onCancel()" color="primary">Batal</button>
  <button mat-raised-button (click)="onSave()" color="accent" [disabled]="!data.name">
    <ng-container *ngIf="!storageService.hasPath(data.name)">Simpan</ng-container>
    <ng-container *ngIf="storageService.hasPath(data.name)">Ganti</ng-container>
  </button>
</div>