<h1 mat-dialog-title>Bagikan path sebagai URL</h1>
<div mat-dialog-content>
  <div style="display: flex;">
    <app-path-preview [path]="data.path ?? ''"></app-path-preview>
    <div style="padding:0 32px; flex:1">
      <p>Path saat ini dapat dibagikan menggunakan tautan berikut:</p>
      <mat-form-field style="width: 100%;">
        <mat-label>URL</mat-label>
        <input matInput readonly [ngModel]="getUrl()" #input>
        <button mat-icon-button matSuffix matTooltip="Salin ke papan klip" (click)="copy()">
          <mat-icon class="material-symbols-rounded">content_pasted</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="onCancel()" color="primary" >Tutup</button>
</div>