<h1 mat-dialog-title>Impor path bersama</h1>
<div mat-dialog-content>
  <div style="display: flex;">
    <app-path-preview [path]="data.path ?? ''"></app-path-preview>
    <div style="padding:0 32px;">
      <p>
        Tekan <b>Impor</b> untuk mengimpor path SVG ini ke dalam editor.
      </p>
      <p>
        Harap diperhatikan bahwa tindakan ini akan menghapus semua perubahan yang belum disimpan.
      </p>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button (click)="onCancel()" color="primary">Buang</button>
  <button mat-raised-button (click)="onConfirm()" color="accent" [disabled]="false">
    Impor
  </button>
</div>